# Terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*
**/terraform.tfstate.backup
**/*.tfstate
**/*.tfstate.*

# Terraform artifacts / local files
**/out.json

# Lambda build artifacts
**/*.zip

# Java / Maven
**/target/
**/*.log

# Node / Angular
**/node_modules/
**/dist/

# OS / Editor
.DS_Store
